<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Question: "<%= @question_text %>"</h2>
    <p>
      Results: <%= @yes_votes_count %> out of <%= @total_votes %> team members from <%=@project_name%>
      have answered 'yes'.<br>
    </p>
    <p>
      View your full Intervention dashboard <a href=<%=@url%>>here</a>.
    </p>
  </body>
</html>
